---
import Layout from "@layouts/layout.astro";
import FileStructure from "@layouts/file-structure.astro";
---

<Layout title="intro">
  <FileStructure>
    <p>so empty</p>
  </FileStructure>
</Layout>
