---
import { getCollection } from "astro:content";
import Layout from "@layouts/layout.astro";
import FileStructure from "@layouts/file-structure.astro";
import { sumTags } from "@content/sum-tags";
import { slugToUrl } from "@content/slug-to-url";

export async function getStaticPaths() {
  const content = await getCollection("all");

  const tags = content.reduce(sumTags, {});

  return Object.keys(tags).map((tag) => ({
    params: { tag: slugToUrl(tag) },
    props: {
      entries: content.filter((post) => post.data.tags.includes(tag)),
      tag,
      tags,
    },
  }));
}
const { tag } = Astro.props;
---

<Layout title="">
  <FileStructure currentTag={tag}>
    <p>so empty</p>
  </FileStructure>
</Layout>

<style></style>
