---
import { getCollection } from "astro:content";
import Layout from "@layouts/layout.astro";
import ColumnStructure from "@layouts/sidebar/columns.astro";
import { sumTags } from "@content/transform-data/sum-tags";
import {
  removeNestedFolder,
  tagToUrl,
} from "@content/transform-data/transform-tags";

export async function getStaticPaths() {
  const content = await getCollection("articles");
  const entriesPerTag = content.reduce(sumTags, {});

  return Object.entries(entriesPerTag).map(([tag]) => ({
    params: { tag: tagToUrl(removeNestedFolder(tag)) },
    props: {
      tag,
    },
  }));
}
const { tag } = Astro.props;
---

<Layout title={tag}>
  <ColumnStructure currentTag={tag}>
    <p>so empty</p>
  </ColumnStructure>
</Layout>

<style></style>
